.body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(252, 209, 170);
    padding: 80px;
    border-radius: 10px;
    margin-top: 30px;
}

.consultorio {
    border-radius: 5%;
    width: 300px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 100px;
}

.textoContainer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 20px;
    margin-left: 50px;
    max-width: 50%; /* Para assegurar que o texto não ocupe muito espaço */
}

.h1 {
    margin-bottom: 50px;
}

.h3 {
    margin-bottom: 50px;
}

.button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orange;
    border: none;
    padding: 10px 20px; /* Ajustado para maior espaçamento horizontal */
    border-radius: 10px;
    cursor: pointer;
}
