
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 10px;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #99441c;
}

.logo {
    height: 60px;
    border-radius: 20px;
    margin-right: 10px;
}

.texto {
    margin-right: 100px;
}

.nome {
    font-size: 1rem;
    font-weight: bold;
}

.titulo {
    font-size: 1rem;
    font-weight: 500;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.buttonStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 3.5em;
    color: #ffffff;
    margin-right: 100px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    border-radius: 0.5em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.buttonStyle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(185, 184, 184, 0.15);
    transition: transform 0.5s;
    transform: translate(-50%, -50%) scale(0);
    color: #000000;
    border-radius: 50%;
}

.buttonStyle:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.buttonStyle:hover {
    background-color: #99441c;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

nav a {
    text-decoration: none;
    color: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffffff;
}
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .texto {
        margin-right: 0;
        text-align: center;
    }

    .logo {
        height: 60px;
        border-radius: 20px;
        margin-left: 4%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .nav {
        justify-content: center;
        width: 100%;
    }

    .ul {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }
    
    .buttonStyle {
        border: #703215 1px solid;
        margin-right: 0;
        width: 45%; /* Ajuste para dividir 2 colunas */
        height: 3em;
    }
    .footer {
        font-size: 10px;
        padding: 15px;
    }
}